.about{
  background-color: #eceff1;
}

.about .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.about .grid li i{
    font-size: 50px;
    color: #1E3138;
    margin-bottom: 25px;
}


.about .grid li h4{
    font-size: 20px;
    margin-bottom: 25px;
}

.about .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.about .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.about .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.about .grid li{
		flex-basis: 100%;
	}

}
