.contact{
	background-color: #eceff1;
}

.ui.cards {
  flex-wrap: nowrap;
}

.card {
  min-width: 300px;
}

@media (max-width: 1280px){
  .card {
    min-width: 250px;
  }
}

@media (max-width: 900px){
	.ui.cards{
		flex-wrap: wrap;		
	}
}

@media (max-width: 700px){
	.contact{
    min-height: 100vh;		
    justify-content: center;
  }
  .title{
    margin-bottom: 100px !important;
  }
}