.оur-work{
	background-color: #fff;
}

.our-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}

.p1 {
  background-image: url(../assets/img/coast.jpg);
}

.p2 {
  background-image: url(../assets/img/island.jpg);
}

.p3 {
  background-image: url(../assets/img/balloon.jpg);
}

.p4 {
  background-image: url(../assets/img/mountain.jpg);
}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}