.оur-work{
  background-color: #fff;
  width: 100vw;
}

.project-images {
  height: auto;
  width: 100%
}

.our-work .grid li{
  padding: 20px;
  width: 80vw;
  flex-basis: 32%;  
	border-radius: 3px;
	background-clip: content-box;
  background-size: cover;
  background-repeat: no-repeat;
	background-position: center;
	background-color: #FFF;
}

@media (max-width: 1150px){

	.our-work .grid li{
    flex-basis: 50%;
    width: 40vw;
	}
}

@media (max-width: 1000px){

	.our-work .grid li{
    flex-basis: 50%;
    width: 100vw;
	}
}

@media (max-width: 600px){

	.our-work .grid li{
    flex-basis: 100%;
    width: 100vw;    
	}
}